body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectBox{
  display: flex;
  flex-wrap: wrap;
}

.btn{
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn.selected{
  background: hsl(240, 40%, 80%);
}
